<!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 manager-holder-menu">-->
<!--<a [routerLink]="'add-card'">Add card </a><br/>-->
<!--<a [routerLink]="'add-news'">Add news </a><br/>-->
<!--<a [routerLink]="'all-cards'">All cards </a><br/>-->
<!--<a [routerLink]="'all-news'">All news </a><br/>-->
<!--</div>-->
<div class="col-lg-12 col-md-12 col-sm-12 holder-bottom-margin ">
  <md-tab-group class="holder-menu-scroll" (selectChange)="selectChange($event)">
    <md-tab>
      <template md-tab-label>
        All cards
      </template>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        Add card
      </template>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        All reports
      </template>
    </md-tab>
    <md-tab>
      <template md-tab-label>
        Add report
      </template>
    </md-tab>
  </md-tab-group>
  <router-outlet></router-outlet>

</div>

