<div class="login-card">
  <md-card class=" col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <md-card-title>Create news</md-card-title>
    <md-card-content>
      <form>

        <md-input placeholder="Label" name="Label" type="text" style="width: 100%" [(ngModel)]="news.label"></md-input>
        <md-input placeholder="Text" name="Text" type="text" style="width: 100%" [(ngModel)]="news.text"></md-input>
        <md-input placeholder="Tag" name="Tag" type="text" style="width: 100%"
                  [(ngModel)]="news.tag"></md-input>

      </form>
    </md-card-content>
    <md-card-actions style="display: flex; justify-content: center">
      <button md-raised-button color="primary" (click)="saveNews()">Create card</button>
    </md-card-actions>
  </md-card>
</div>
