.card-body-top-pos {
  margin-top: -3em;
}

$navHeight: 10em;

.headerbar {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-right: 1em;
  height: $navHeight;
  background-color: #626262;
}

.header-title {
  margin-left: 3em;
  font-size: 2.5em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.84);
}


@media screen and (max-width: 767px) {
  .header-title {
    margin-left: 2em;
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.84);
  }
  .absolutione {
    position: absolute;
    display: block;
    margin-right: 1em;
  }
  .nonabsolutione {
    position: absolute;
    display: none;
    margin-right: 1em;
  }

}


